/*Слайдер*/

.slick-prev, .slick-next {
    z-index: 100;
    width: 32px;
    height: 32px;
}

.slick-prev:before, .slick-next:before {
    font-size: 32px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.slick-prev {
    left: 25px;
}

.leftArrow {
    margin: auto;
    top: 0;
    left: -68%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 200;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e33131;
}

.leftArrow img {
    margin: auto;
    position: absolute;
    top: 0;
    left: -3px;
    bottom: 0;
    right: 0;
}

.leftArrow:hover {
    background-color: #e33131;
}

.rightArrow {
    margin: auto;
    top: 0;
    left: 68%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2000;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e33131;
}

.rightArrow img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.rightArrow:hover {
    background-color: #e33131;
}

.sl__slide {
    position: relative;
}

.sl__slide:after {
    content: ' ';
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.56;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
}

.sl__slide:hover:after {
    opacity: 0;
}

/*Адаптивность картинок и видео*/
img {
    max-width: 100%;
    height: auto;
}

